In [51]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('Nikedataset_aspects_category.csv')

# Replace 'your_column' with the name of the column you want to check
distinct_values = df['normalized_text'].unique()

# Print the distinct values
print(distinct_values)

['walked street dogs rn nd saw guy nike shirt said freak big letters much thoughts flashed head'
 'weve reached point referring dissatisfied customers haters customers expect shirt last washes jersey stitched tackle twill instead heat pressed silk screened print'
 'fc barcelona say cannot close contract nike puma wants finance shirt must pay breakup amount nike'
 ...
 'absolutely pathetic nike adidas shirt would thing hire lawyers go mall us'
 'im going bit less week amp stay seoul looking bts txt related spots kpop shopping areas top tourist spots amp interesting hidden experiences ie making customized nike seoul shirt nike store please send travel tips'
 'nike acg floral shirt light bone amp iron ore extra cart already reduced deal nike sale sneakerhead kotd']

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34015 entries, 0 to 34014
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       34015 non-null  object
 1   username         34014 non-null  object
 2   normalized_text  34015 non-null  object
 3   Topic Label      34015 non-null  object
 4   Category         34015 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

# CHECK DUPLICATION

In [53]:
import pandas as pd

# Load the cleaned dataset
data = pd.read_csv('Nikedataset_aspects_category.csv')

# Count the number of duplicate rows based on the 'normalized_text' column
num_duplicates = data.duplicated(subset=['normalized_text']).sum()

print("Number of duplicate rows based on 'normalized_text' column:", num_duplicates)

Number of duplicate rows based on 'normalized_text' column: 4310

In [54]:
# Remove duplicate entries in the 'normalized_text' column
df.drop_duplicates(subset=['normalized_text'], keep='first', inplace=True)

In [55]:
df.describe()

,created_at,username,normalized_text,Topic Label,Category
count,29705,29704,29705,29705,29705
unique,29596,16463,29705,5,3
top,Fri Sep 22 06:42:31 +0000 2023,KicksDeals,walked street dogs rn nd saw guy nike shirt sa...,Comfortability,Other
freq,3,3017,1,10427,11324

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29705 entries, 0 to 34014
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       29705 non-null  object
 1   username         29704 non-null  object
 2   normalized_text  29705 non-null  object
 3   Topic Label      29705 non-null  object
 4   Category         29705 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB

In [57]:
#Check Null Values
df.isnull().any()

created_at         False
username            True
normalized_text    False
Topic Label        False
Category           False
dtype: bool

In [58]:
df.describe()

,created_at,username,normalized_text,Topic Label,Category
count,29705,29704,29705,29705,29705
unique,29596,16463,29705,5,3
top,Fri Sep 22 06:42:31 +0000 2023,KicksDeals,walked street dogs rn nd saw guy nike shirt sa...,Comfortability,Other
freq,3,3017,1,10427,11324

In [59]:
# Assuming you want to remove rows only if 'text' column has null values
data = df.dropna(subset=['normalized_text'])

In [29]:
# Assuming you want to remove rows only if 'sentiment' column has null values
#data = df.dropna(subset=['sentiment'])

In [60]:
data.describe()

,created_at,username,normalized_text,Topic Label,Category
count,29705,29704,29705,29705,29705
unique,29596,16463,29705,5,3
top,Fri Sep 22 06:42:31 +0000 2023,KicksDeals,walked street dogs rn nd saw guy nike shirt sa...,Comfortability,Other
freq,3,3017,1,10427,11324

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29705 entries, 0 to 34014
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       29705 non-null  object
 1   username         29704 non-null  object
 2   normalized_text  29705 non-null  object
 3   Topic Label      29705 non-null  object
 4   Category         29705 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB

In [62]:
data.isnull().any()

created_at         False
username            True
normalized_text    False
Topic Label        False
Category           False
dtype: bool

In [63]:
#EXPORT TO CSV
data.to_csv('Nikedataset_aspects_category.csv', encoding='utf8', index=False)

In [64]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('Nikedataset_aspects_category.csv')

# Count the occurrences of each distinct value in the specified columns
topic_label_counts = df['Topic Label'].value_counts()
category_counts = df['Category'].value_counts()
#sentiment_counts = df['Sentiment'].value_counts()

# Display the counts
print("Distinct value counts in 'Topic Label' column:")
print(topic_label_counts)

print("\nDistinct value counts in 'Category' column:")
print(category_counts)

#print("\nDistinct value counts in 'Sentiment' column:")
#print(sentiment_counts)

Distinct value counts in 'Topic Label' column:
Topic Label
Comfortability            10427
Durability                 9082
Discount and Promotion     3880
Size Availability          3821
Price                      2495
Name: count, dtype: int64

Distinct value counts in 'Category' column:
Category
Other       11324
Clothing    10100
Footwear     8281
Name: count, dtype: int64